version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: wetter
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432" # Expose PostgreSQL port to host
    networks:
      - app_network

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: wetter
      DB_USER: user
      DB_PASSWORD: password
    depends_on:
      - db
    networks:
      - app_network

  ingestion:
    build:
      context: .
      dockerfile: Dockerfile.ingestion
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: wetter
      DB_USER: user
      DB_PASSWORD: password
    depends_on:
      - db
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
